@model WebAtividadeEntrevista.Models.BeneficiarioModel

@{
    Layout = null;
    ViewBag.Title = "Beneficiarios";
}

<!--
<div id="modalaaa" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Benefeciários</h4>
            </div>
            <div class="modal-body">-->
<div class="row">
    <div class="col-md-5">
        <div class="form-group">
            <label for="Beneficiario_CPF">CPF:</label>
            <input required="required" type="text" class="form-control" id="Beneficiario_CPF" name="Beneficiario_CPF" placeholder="Ex.: 010.011.111-00" maxlength="14">
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group">
            <label for="Beneficiario_Nome">Nome:</label>
            <input required="required" type="text" class="form-control" id="Beneficiario_Nome" name="Beneficiario_Nome" placeholder="Ex.: João" maxlength="50">
        </div>
    </div>
    <div class="col-md-2 justify-content-center">
        <div>
            <button type="button" id="Beneficiario_Incluir" class="btn btn-success align-middle">Incluir</button>
        </div>
    </div>
</div>
<div class="row">
    <table id="gridBeneficiarios" class="table">
        <thead>
            <tr>
                <th>CPF</th>
                <th>Nome</th>
            </tr>
        </thead>
        <tbody>
        <tbody>
    </table>
</div>
<!--           </div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
</div>
        </div>
    </div>
</div>-->
